@page "/people"

<h3>People</h3>

@if(_people == null)
{
    <div>No Person Yet</div>
}
else
{
 <table class="table">
    <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>National Code</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Last Status</th>
        <th>Action</th>
    </thead>
            <tbody>
        @foreach (var person in _people)
        {
                    <tr>
                        <td>@person.FirstName</td>
                        <td>@person.LastName</td>
                        <td>@person.NationalCode</td>
                        <td>@person.Phone</td>
                        <td>@person.Email</td>
                        <td>@person.Profile.Title</td>
                        <td>
                            <div>
                                <a class="btn btn-primary" role="button" href="/api/Persons/@person.Id">
                                    Edit
                                </a>
                            </div>
@*                             <div>
                                <a class="btn btn-danger" role="button" @onclick="@(() => HandleDelete(person.Id))">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div> *@
                        </td>
                    </tr>
        }
        </tbody>
</table>   
}

@code {

}
